# dependencies
/web/node_modules
/web/.pnp
/web/.pnp.*
/web/.yarn/*
!/web/.yarn/patches
!/web/.yarn/plugins
!/web/.yarn/releases
!/web/.yarn/versions

# testing
/web/coverage

# next.js
/web/.next/
/web/out/

# production
/web/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/web/.env*
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
/web/next-env.d.ts

# don't backup db data
db-data